<div class="row">
  <div class="col-6 offset-3">
    <div class="jumbotron">
      <h1>Workout lounge</h1>
      <p>Show off your workout</p>
    </div>
  </div>
</div>
<div class="container">
  <h3>List of Members</h3>
  <div class="row">
    <div class="col-12">
      <div class="row heading">
        <div class="col-3">Full Name</div>
        <div class="col-3">E-mail</div>
        <div class="col-3">Member since</div>
        <div class="col-2">Operations</div>
      </div>
      <% @athletes.each do |athlete| %>
        <div class="row">
          <div class="col-3"><%= athlete.full_name %></div>
          <div class="col-3"><%= athlete.email %></div>
          <div class="col-3"><%= athlete.created_at %></div>
          <div class="col-2">
            <% if current_user%>
              <%= link_to "Follow",
                friendships_path(friend_id: athlete.id),
                method: :post,
                class: "btn btn-info pull-right" unless current_user.follows_or_same?(athlete.id)
              %>
            <% end %>
          </div>
        </div>
      <%end %>
    </div>
  </div>
  <div class="row">
    <%= will_paginate @athletes, render: BootstrapPagination::Rails, class: "pull-left paginate" %>
  </div>
</div>