<div class="container-fluid">
  <div class="card">
    <% if @exercises.present?%>
      <div class="card-heading">
        <div class="row">
          <div class="col-3 card-title">Activity Date</div>
          <div class="col-3 card-title">Duration in minutes</div>
          <div class="col-3 card-title">Description</div>
          <div class="col-3 card-title">Operations</div>
        </div>
      </div>
      <div class="card-content">
      <% @exercises.each do |exercise| %>
        <div class="row">
          <div class="col-3"><%= exercise.workout_date %></div>
          <div class="col-3"><%= exercise.duration_in_minutes %></div>
          <div class="col-3"><%= exercise.workout %></div>
          <div class="col-3">
            <%= link_to "Edit", edit_user_exercise_path(current_user, exercise) %><br/>
            <%= link_to "Delete", user_exercise_path(current_user, exercise), method: :delete %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  <% else %>
    <div class="alert alert-info">
      <h3>No workout data found</h3>
    </div>
  <% end %>
  <div class="col-8">
    <%= link_to "New Workout", new_user_exercise_path(current_user), class: "btn btn-default" %>
  </div>
  <%= content_tag :div, "", id: "graph-chart", data: { workouts: @exercises } %>
</div>