<%= content_for(:whole_page) do %>
  <div class="row">
    <div class="col-7">
      <div class="card">
        <% if @exercises.present?%>
          <div class="card-heading">
            <div class="row">
              <div class="col-3 card-title">Activity Date</div>
              <div class="col-3 card-title">Duration in minutes</div>
              <div class="col-3 card-title">Description</div>
              <div class="col-3 card-title">Operations</div>
            </div>
          </div>
          <div class="card-content">
            <% @exercises.each do |exercise| %>
              <div class="row">
                <div class="col-3"><%= exercise.workout_date %></div>
                <div class="col-3"><%= exercise.duration_in_minutes %></div>
                <div class="col-3"><%= exercise.workout %></div>
                <div class="col-3">
                  <%= link_to "Edit", edit_user_exercise_path(current_user, exercise) %><br/>
                  <%= link_to "Delete", user_exercise_path(current_user, exercise), method: :delete %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="alert alert-info">
            <h3>No workout data found</h3>
          </div>
        <% end %>
      </div>
      <div class="col-8">
        <%= link_to "New Workout", new_user_exercise_path(current_user), class: "btn btn-warning" %>
      </div>
    </div>
    <div class="col-5">
      <h1>My Friends</h1>
      <div id="chat-window" class='col-12'>
        <header class="text-center"><%= current_room.name %></header>
        <div class="col-2" id="followers">
          <% @followers.each do |follower| %>
            <%= link_to follower.user.full_name, user_exercises_path(current_user, room_id: follower.user.room.id), class: "followers" %>
            <br/>
          <% end %>
        </div>
        <div class="col-10" id="messages-box">
          <div id="chat-box" data-channel="rooms" data-room-id=<%= current_room.id %>>
            <% @messages.each do |message| %>
              <%= render partial: 'shared/message', locals: { message: message }%>
            <% end %>
          </div>
          <div id="form-box">
            <%= form_for @message do |f| %>
              <div class="input-group">
                <%= f.text_field :body, id: "message-field", class: "form-control" %>
                <div class="input-group-append">
                  <%= f.submit "Post", class: "btn btn-primary", id: "post-btn" %>
                </div>
              </div>
            <% end%>
          </div>
        </div>
      </div>
      <div class="row"><br/></div>
      <% @friends.each do |friend| %>
        <div class="row my-2">
          <div class="col-4">
            <%= link_to friend.full_name, friendship_path(current_user.current_friendship(friend.id)) %>
          </div>
          <div class="col-4">
            <%= link_to "Unfollow",
              friendship_path(current_user.current_friendship(friend.id)),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn btn-success link" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= content_tag :div, "", id: "graph-chart", data: { workouts: @exercises } %>
  </div>
<% end %>
