<!DOCTYPE html>
<html>
  <head>
    <title>Workout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= render "shared/navigation" %>
    <%= render "shared/flashes" %>
    <div class="<%= content_for?(:whole_page) ? 'container-fluid' : 'container' %>">
      <%= yield %>
      <%= yield :whole_page%>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
