<!DOCTYPE html>
<html>
  <head>
    <title>Workout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navigation" %>
    <div class="container">
      <div class="row">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= ['error', 'warning'].include? key ? "danger" : "success" %>">
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
